.navbar {
  width: 13%;
  height: 100vh;
  background: #2D3250; /* Noir */
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centre le contenu horizontalement */
}

.admin {
  align-self: center; /* Centre le texte "Admin" par rapport à "WELCOME" */
  margin-top: -5px;
}

.links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  transition: 0.5s;
  gap: 100px;
}

.links a {
  width: 14vw;
  height: 50px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #7077A1; /* Gris foncé */
  font-size: 20px;
  transition: 0.5s;
}
.links .logout {
  margin-top: auto; /* Place le lien "LogOut" en bas de la barre de navigation */
}

.links a:hover {
  background-color: rgb(57, 52, 68); /* Violet foncé */
  color: #ccc;
}